params {
    out_dir = "results"
    adapter_trimming = true
}

process {
    executor = 'slurm'

    withName: adapters_trimming {
        queue = "express"
        memory = "2 GB"
        cpus = params.trimmomatic.threads
        time = "1 h"
        clusterOptions = "--output=${params.out_dir}/logs/adapters_trimming/%x_%A_%a.out"
    }

    withName: fastQC_post_trimming {
        queue = "express"
        cpus =  params.fastQC.threads
        time =  "2 h"
        clusterOptions = "--output=${params.out_dir}/logs/fastQC_post_trimming/%x_%A_%a.out"
    }

    withName: multiQC_post_trimming {
        queue = "express"
        cpus =  params.fastQC.threads
        time =  "2 h"
        clusterOptions = "--output=${params.out_dir}/logs/multiQC_post_trimming/%x_%A_%a.out"
    }

    withName: star_and_RSEM_index_building {
        queue = "batch"
        cpus = params.index_building.threads
        time = "3 h"
        clusterOptions = "--output=${params.out_dir}/logs/star_and_RSEM_index_building/%x_%A_%a.out"
    }

    withName: star_alignment {
        queue = "long"
        memory = "60 GB"
        cpus = params.STAR.threads
        time = "2 days 20 hours"
        clusterOptions = "--output=${params.out_dir}/logs/star_alignment/%x_%A_%a.out"
    }

    withName: star_alignment_no_adapter_trimming {
        queue = "long"
        memory = "60 GB"
        cpus = params.STAR.threads
        time = "2 days 20 hours"
        clusterOptions = "--output=${params.out_dir}/logs/star_alignment/%x_%A_%a.out"
    }

    withName: qc_post_alignment {
        queue = "express"
        time = "2 h"
        clusterOptions = "--output=${params.out_dir}/logs/qc_post_alignment/%x_%A_%a.out"
    }

    withName: rsem_transcript_quantification {
        queue = "batch"
        memory = "30 GB"
        cpus = params.rsem.threads
        time = "4 h"
        clusterOptions = "--output=${params.out_dir}/logs/rsem_transcript_quantification/%x_%A_%a.out"
    }
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
    }
}