params {
    out_dir = "results"
}

process {
    executor = 'slurm'
    clusterOptions = '--partition=batch --account=your_slurm_account'
    memory = '2GB'
    time = '3h'
    cpus = 4
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
    }
}