params {
    adapter_trimming = true
    genome = "/path/to/reference_genome"
    gtf = "/path/to/gtf_file"
    gtfCollapsed = "/path/to/collapsed/gtf_file"
    outDir = "results"
    sampleDir = "/path/to/samples/dir"
    adapters = "/path/to/trimmomatic/adapters_file"

    trimmomatic_threads = 10
    fastQC_threads = 10
    index_building_threads = 4
    star_threads = 3
    samtools_threads = 7
    rsem_threads = 10
}

process {
    executor = 'slurm'

    withName: adapters_trimming {
        queue = "express"
        memory = "2.GB"
        cpus = params.trimmomatic_threads
        time = "1.h"
    }

    withName: fastQC_post_trimming {
        queue = "express"
        cpus =  params.fastQC_threads
        time =  "2.h"
    }

    withName: fastQC_raw_data {
        queue = "express"
        time =  "2.h"
    }

    withName: multiQC_post_trimming {
        queue = "express"
        cpus =  params.fastQC_threads
        time =  "2.h"
    }

    withName: multiQC_raw_data {
        queue = "express"
        cpus =  params.fastQC_threads
        time =  "2.h"
    }

    withName: star_and_RSEM_index_building {
        queue = "batch"
        cpus = params.index_building_threads
        time = "8.h"
        memory = "30.GB"
    }

    withName: star_alignment {
        queue = "long"
        memory = "58.GB"
        cpus = params.star_threads
        time = "2 days 20 hours"
    }

    withName: samtools_sort_by_coordinates {
        queue = "batch"
        memory = "30.GB"
        cpus = params.samtools_threads
        time = "23.h"
    }

    withName: qc_post_alignment {
        queue = "express"
        time = "2.h"
    }

    withName: rsem_transcript_quantification {
        queue = "batch"
        memory = "30.GB"
        cpus = params.rsem_threads
        time = "4.h"
    }
}

profiles {
    slurm {
        process.executor = 'slurm'
    }
}